body {font-family: arial, verdana, sans-serif;}
dd.code {font-family: "Courier New", "Courier";}
a.code {font-family: "Courier New", "Courier";}
dd.comment {font-family: arial, verdana, sans-serif; font-style: italic;}
a.comment {font-family: arial, verdana, sans-serif; font-style: italic;}
